<div class="wrapper">
    <mat-toolbar color="primary">
        <div class="container">
            <button mat-icon-button (click)="home()">
            <mat-icon>home</mat-icon>
            </button>

            <h1 (click)="home()">VerbVis<span>Poll</span></h1>

            <mat-select [value]="langu" (selectionChange)="lang($event)">
                <mat-option value="ua">UKR</mat-option>
                <!-- <mat-option value="ru">RUS</mat-option> -->
                <mat-option value="en">ENG</mat-option>
            </mat-select>
        </div>
    </mat-toolbar>


</div>
