:host {
    width: 100vw;
    z-index: 2;
}

.wrapper {
    mat-toolbar {
        .container {
            max-width: 1200px;
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fffdf9;
        color: black;
        border-bottom: 1px solid #e8e7e4;
        h1 {
            font-weight: 700;
            // position: absolute;
            // left: 50%;
            // transform: translateX(-50%);
            cursor: pointer;
            color: rgb(32, 21, 21);
            span {
                color: #ff6d2b;
            }
        }
        button {
            // position: absolute;
            color: whitesmoke;
            left: 0;
            height: 100%;
            width: 64px;
            mat-icon {
                font-size: 32px;
            }
        }
        mat-select {
            // position: absolute;
            left: 80%;
            width: 65px;
        }
    }
}
