:host {
    position: relative;
    bottom: 0;
    width: 100vw;
    z-index: 2;
}

.wrapper {
    background-color: #fffdf9;
    .container {
        max-width: 1200px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
    }
    mat-toolbar {
        background-color: #fffdf9;
        color: rgb(32, 21, 21);
        justify-content: flex-end;
        font-family: 'Inter', sans-serif;
    }
    p {
        font-size: 14px;
        line-height: normal;
    }
    @media screen and (max-width: 500px) {
        p {
            font-size: 12px;
        }
    }
}
